body {
  font-family: Arial, sans-serif;
  background-color: #d9eded;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #116D6E;
  color: #fff;
  padding: 20px;
  z-index: 999;
}

p {
  color: #d9eded;
}

.content {
  margin-top: 70px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-heading {
  margin: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.item {
  position: relative;
}

.item img.fade-out {
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: flex;
  flex-wrap: wrap;
  transition: opacity 0.5s ease;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #aae3e1;
  color: #0f1615;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #406f6d;
  color: #f7f8f8;
}

.item h3 {
  margin-top: 10px;
  color: #116D6E;
}

.item p {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  background-color: #116D6E;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #116D6E;
}

.container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
}

.appreciation {
  margin-right: none;
  display: flex;
}

.container input[type="text"] {
  width: 400px;
  height: 60px;
  padding: 10px;
  border: 1.05px solid #ccc;
  border-radius: 5px;
  background-color: #116D6E;
  box-sizing: border-box;
  outline: none;
  color: #d9eded;
}

.container span {
  position: absolute;
  left: 0.002;
  pointer-events: none;
  padding: 10px;
  font-size: 1em;
  color: #eff4f4;
  transition: 0.5s;
}

.container input:valid ~ span, 
 .container input:focus ~ span {
  color: #00FFCA;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #116D6E;
  border-left: 1px solid #00FFCA;
  border-right : 1px solid #00FFCA;
  letter-spacing: 0.2em;
}

.container input:valid , 
 .container input:focus {
  border: 1.7px solid #00FFCA;
}

.appreciation p {
  color: #d9eded;
}

.button-container {
  text-align: right;
}

.button-container input[type="submit"] {
  padding: 10px 20px;
  background-color: #aae3e1;
  color: #060606;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-style: italic;
  margin-top: 5px;
}

footer {
  background-color: #116D6E;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 3 30%;
  margin-bottom: 20px;
}

.footer-section h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
  
  .navbar-toggle {
    display: flex;
  }
  
  .navbar-toggle span {
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 4px);
  }
  
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -4px);
  }

  .container {
    align-items: center;
    flex-basis: 100%;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section {
    flex-basis: 100%;
  }

  footer {
    padding: 10px;
  }
}
